header {
    width: 100%;
    background-color: blue;
    font-size: 22px;
    color: white;
    text-align: center;
}

section {
    font-size: 22px;
}

section > section {
    margin-left: 20px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    font-size: 22px;
    color: white;
    text-align: center;
}
